@import "./common.css";

/* ---------------------- common setting ---------------------- */
h2{
    color: #5D4C49;  
    font-family: 'Sawarabi Gothic', 'Lucida Sans';
}

.wrap{
    max-width: 978px;
    margin: 50px auto;
    min-height: 100%;
}

a{
    text-decoration: none;
}

/* ---------------------- breadcrumb ---------------------- */
.breadcrumb-wrap{
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    margin: 0 0 20px 0;
}

li.breadcrumb-item{
    transition: .5s;
}

li.breadcrumb-item.active{
    color: #666; 
    font-size: 14px;
}

li.breadcrumb-item > a{
    text-decoration: none;
    color: #666; 
    font-size: 14px;
}

li.breadcrumb-item:hover a{
    color: #EE6E6E;
    border-bottom: 1px solid #EE6E6E;
}

.active::before{
    content: ">";
    color: #666;
    margin-right: 10px;
}


/* main */
.concept_item{
    /* display: flex; */
    align-items: center;
    padding-bottom: 40px;
    /* width: 978px; */
    position: relative;
    /* border: #EE6E6E 1px solid; */
    height: 1700px;
}

.concept-title{
    writing-mode: vertical-lr;
    letter-spacing: 6px;
    padding: 0 30px;
    z-index: 3;
}


.concept-title pre{
    font-size: 30px;
    padding: 0 15px;
    /* font-weight: bold; */
}

.concept_item .img01{
    width: 100%;
    height: auto;
    position: absolute;
    top: 100px;
    z-index: -1;
}

.concept_item .img02{
    width: 45%;
    height: auto;
    position: absolute;
    top: 1100px;
}

.concept_item .img03{
    width: 50%;
    height: auto;
    position: absolute;
    top: 800px;
    right: 0px;
}

.concept_item .img01 img{
    width: 100%;
}

.concept_item .img02 img{
    width: 100%;
}

.concept_item .img03 img{
    width: 100%;
}


.detail{
    /* padding-left: 50px; */
}

.concept_item .txt01{
    position: absolute;
    top: 850px;
    left: 20px;
}

.concept_item .txt02{
    position: absolute;
    right: 100px;
    bottom: 50px;
}